<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag @user.profile_photo.url %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @user.name %></h1>
        
        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-out-alt"></i></button>
        <% else %>
          <%= render 'relationships/follow_button', user: @user %>
        <% end %>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center h6 col-md-8 col-md-offset-2">
      <%= simple_format(@user.profile) %>
    </div>
  </div>
  <div crass="row">
    <div class="text-center h5 col-md-10 col-md-offset-1" id="user_info">
      <%= link_to following_user_path(@user), class: "black-color no-text-decoration" do %>
        <%= @user.followings.count %> follow
      <% end %>
      
      <%= link_to followers_user_path(@user), class: "black-color no-text-decoration" do %>
        <%= @user.followers.count %> follower
      <% end %>
      
      <%= link_to "likes", likes_user_path(@user), class: "black-color no-text-decoration" %>
    </div>
  </div>
</div>

<hr size="10" class="shadow-sm">